#picture{
	width: 1460px;
	height:500px;
	margin-left:  30px;
	margin-right:  30px;
	float: left;
}

#left{
	width: 700px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right:  0px;
	float: left;
}

#right{
	width: 700px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20px;
	margin-right:  0px;
	float: right;
}

#select{
	width: 100px;
	height: 50px;
	margin-left: 10px;
	float: left;
}

#img{
	display: block;
}